hr {

    border-color:  #222;
    background-color: rgba(255, 255, 255, 0.575);
    color: rgba(255, 255, 255, 0.562);

}


body {

/* background-image: url(https://raw.githubusercontent.com/AviMKabir/Bootstrap-Portfolio/master/assets/images/BackgroundDark.png); */
/* background-color: #F2F2F2; */
background-color: rgb(255, 255, 255);



}

h1 {


    font-family: 'DM Serif Text', serif;


}

p {

    font-family: 'Roboto', sans-serif;
    color:  #222222;


}

.navbar {

    /* background-image: url(https://raw.githubusercontent.com/AviMKabir/Bootstrap-Portfolio/master/assets/images/BackgroundDark.png); */

    background-color: #F2F2F2;

    border-bottom:3px solid rgba(255, 170, 188, 0.404);
    
   
}

.nav.navbar-nav li a {
    color: rgba(255, 170, 188, 0.404);
  }

  .nav.navbar-nav a:hover {
    color: rgba(255, 170, 188, 0.404);
   }

.navbar a {


    

}

#pageLogo  {

     
    
}


#aboutMeHeader {

    margin-top: 20px;


}

#bioContainer {

    box-shadow: 5px 10px rgba(255, 170, 188, 0.404);
    min-height: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(255, 255, 255);
    
    
    
   

    
}

#bio-image {

    
    margin-bottom: 10px;
    
    
}





#portfolio1,
#portfolio2,
#portfolio3,
#portfolio4,
#portfolio5,
.card {


    margin-bottom: 15px;
    position: relative;
}



h3 {

    position: absolute;
    text-align: center;
    top:60%;
    left: 0 ;
    right: 0 ;
    color: white;
    background-color: #92d6d381;
    padding: 10px ;
    



}


#submitButton {

    margin-bottom: 15px;
    
}

#sticky-footer {
    flex-shrink: none;
  }

