hr {

    border-color: rgba(255, 255, 255, 0.548);
    background-color: rgba(255, 255, 255, 0.575);
    color: rgba(255, 255, 255, 0.562);

}


body {

background-image: url(https://raw.githubusercontent.com/AviMKabir/Bootstrap-Portfolio/master/assets/images/BackgroundDark.png);
color: white;


}

.navbar {


    background-color: rgba(0, 0, 0, 0);
    border-bottom:3px solid rgba(0, 0, 0, 0.199);
    
   
}

.navbar a {


    

}

#pageLogo  {

     
    
}


#aboutMeHeader {

    margin-top: 20px;


}

#bioContainer {

    box-shadow: 5px 10px rgba(0, 0, 0, 0.199) ;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: fit-content;
    background-color: rgba(153, 211, 255, 0.13);

    
   

    
}

#bio-image {

    
    margin-bottom: 10px;
    margin-right: 10px;
    
}

